@{
    ViewData["Title"] = "Home Page";
}



<div class="container overflow-hidden text-center">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Autor</h5>
    <p class="card-text">Creador de obras escritas que transmiten emociones y experiencias humanas.</p>
    <a href="/Autor/Index" class="btn btn-outline-dark">Go Autor</a>
  </div>
</div>
     </div>
    </div>
    <div class="col">
      <div class="p-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Docente</h5>
    <p class="card-text">Educador que guía y enseña a estudiantes en instituciones educativas formales.</p>
    <a href="/Docentes/Index" class="btn btn-outline-dark">Go Docente</a>
  </div>
</div>
      </div>
    </div>
     <div class="col">
      <div class="p-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Editorial</h5>
    <p class="card-text">Empresa que publica y distribuye libros y otros materiales impresos.</p>
    <a href="/Editorial/Index" class="btn btn-outline-dark">Go Editorial</a>
  </div>
</div>
      </div>
    </div>
     <div class="col">
      <div class="p-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Generos</h5>
    <p class="card-text">Categorías que clasifican obras literarias según su temática y estilo narrativo.</p>
    <a href="/Genero/Index" class="btn btn-outline-dark">Go Genero</a>
  </div>
</div>
      </div>
    </div>
     <div class="col">
      <div class="p-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Libros</h5>
    <p class="card-text">Objetos impresos que contienen información, historias y conocimientos para el lector.</p>
    <a href="/Libros/Index" class="btn btn-outline-dark">Go Libros</a>
  </div>
</div>
      </div>
    </div>
     <div class="col">
      <div class="p-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Prestamos</h5>
    <p class="card-text">Acuerdos financieros donde se otorga dinero bajo condiciones específicas para su devolución.</p>
    <a href="/Prestamo/Index" class="btn btn-outline-dark">Go Prestamos</a>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
